<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.dao.TeacherInfoDao">

	<resultMap id="BaseResultMap" type="com.sys.entity.TeacherInfo">
		<id column="tea_id" property="tea_id" />
		<id column="tea_name" property="tea_name" />
		<id column="tea_pwd" property="tea_pwd" />
		<id column="tea_state" property="tea_state" />
	</resultMap>

	<select id="getTeacherInfoByTeaId" resultMap="BaseResultMap" resultType="TeacherInfo">
		select * from TeacherInfo t
		where t.tea_id = #{tea_id}
	</select>
	
</mapper>