<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.dao.TeaTeamGroupDao">

	<resultMap id="BaseResultMap" type="com.sys.entity.TeaTeamGroupInfo">
		<id column="tg_id" property="tg_id" />
		<result column="tg_name" property="tg_name" />
		<result column="tg_type" property="tg_type" />
		<result column="tg_state" property="tg_state" />
		<result column="tg_date" property="tg_date" />
	</resultMap>

	<resultMap id="FullResultMap" type="com.sys.entity.TeaTeamGroupInfo"
		extends="BaseResultMap">
		<association property="teaInfo"
			resultMap="com.sys.dao.TeacherDao.BaseResultMap"></association>
		<collection property="teamInfoList" resultMap="com.sys.dao.TeamDao.BaseResultMap"></collection>
	</resultMap>
	
	<resultMap id="BaseResultMapAndTeaInfo" type="com.sys.entity.TeaTeamGroupInfo"
		extends="BaseResultMap">
		<association property="teaInfo"
			resultMap="com.sys.dao.TeacherDao.BaseResultMap"></association>
	</resultMap>

	<select id="getTeacherTeamGroupList" resultMap="FullResultMap">
		select ttg.*,ti.* from TeaTeamGroupInfo ttg
		inner join TeamInfo ti on ttg.tg_id = ti.tg_id
		where ttg.tea_id = #{tea_id} and ttg.tg_state = 1 and ti.team_state = 1
	</select> 

</mapper>