@charset "UTF-8";
/*#e6ebf1*/
/*#00a1d6*/
body {
	background-color: rgb(250, 250, 250);
	user-select: none;
}

.rightClickMenu {
	width: 110px;
}

.grayTit {
	height: 20px;
	line-height: 20px;
	padding: 5px;
	font-size: 14px;
	border-bottom: 1px #e6ebf1 solid;
	background-color: rgb(245, 245, 245);
	color: #444444;
	cursor: pointer;
}

.taskBiz_menuImg {
	vertical-align: middle;
	height: 35px;
}

.taskBiz_menu_item {
	padding: 13px;
	float: left;
	cursor: pointer;
}

.taskBiz_menu_item label {
	cursor: pointer;
	font-size: 14px;
	color: #555555;
}

.taskBiz_menu_item:hover label {
	color: #FF0033;
}

.taskGroup_item {
	/* border: 1px #e6ebf1 solid; */
	
}

.taskGroup_listAll {
	width: 200px;
	float: left;
	user-select: none;
}

.groupName {
	height: 20px;
	line-height: 20px;
	padding: 8px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px #e6ebf1 solid;
	background-image: linear-gradient(-180deg, rgb(245, 245, 245) 0%,
		rgb(235, 235, 235) 90%);
	color: #666666;
	cursor: pointer;
}

.rightClickSel_li_groupName {
	background-image: linear-gradient(-180deg, #777777 0%, #555555 90%);
	color: white;
}

.groupUnfoldShrink {
	float: right;
	width: 20px;
	height: 20px;
	background: url(/RecordsManagerSys/img/unfoldAndshrink.png) no-repeat;
	background-size: 200%;
	background-position: -22px 6px;
	cursor: pointer;
}

.li_taskName, .sel_li_taskName {
	padding: 10px 8px;
	font-size: 14px;
	color: #444444;
	cursor: pointer;
	border-bottom: 1px #e6ebf1 solid;
}

.sel_li_taskName {
	background-image: linear-gradient(-180deg, #0066CC 0%, #0099CC 90%);
	color: white;
}

.li_taskName:not (.rightClickSel_li_taskName ):hover {
	background-color: #FFFFCC;
	color: #FF0033;
	cursor: pointer;
}

.rightClickSel_li_taskName {
	background-image: linear-gradient(-180deg, #FF6666 0%, red 90%);
	color: white;
}

.taskDetailedInfo {
	width: 780px;
	float: right;
}

.selTaskName {
	color: #444444;
	font-size: 43px;
	font-weight: bold;
	padding: 15px;
	margin: 0px;
	border-bottom: 1px #e6ebf1 solid;
	/* background-image: linear-gradient(-180deg, #0066CC 0%, #0099CC 90%);
	color: white; */
}

.tasInfo_show, .redact_tasInfo {
	white-space: pre-wrap;
	padding: 10px 15px;
	margin: 0px;
	font-size: 17px;
	font-family: "微软雅黑";
	line-height: 32px;
	letter-spacing: 1px;
	font-size: 17px;
	color: #333333;
}

.redact_tasInfo {
	width: 708px;
	min-height: 600px;
	resize: none;
	border-radius: 5px;
	border: 1px #CCCCCC solid;
}

.publish_job {
	width: 780px;
	float: right;
}

.publish_taskName {
	color: #CC0033;
	font-weight: bold;
	padding: 0px 5px;
	border-radius: 5px;
	border: 1px #CCCCCC solid;
	height: 25px;
	font-size: 14px;
}

.input_completionDay, .input_completionTime {
	padding: 0px 5px;
	border-radius: 5px;
	height: 22px;
	font-size: 12px;
	border: 1px #CCCCCC solid;
}

.input_completionDay {
	width: 25px;
}

.input_completionTime {
	/* width: 100px; */
	
}

.publish_job_line {
	margin: 20px;
}

.publish_teamItem {
	color: #003399;
	font-weight: bold;
	font-size: 14px;
}

.selectOperation {
	font-size: 14px;
	color: #FF6666;
	cursor: pointer;
}

.selectOperation:hover {
	color: #FF0033;
}

.publish_job_operation {
	height: 35px;
	line-height: 35px;
	float: right;
}

.btn_confirm, .btn_exit {
	width: 75px;
	height: 30px;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	/* outline: none; */
	cursor: pointer;
}

.btn_confirm {
	background-image: linear-gradient(-180deg, #00FF7F 0%, #28a745 90%);
	border: 1px #28a745 solid;
	font-size: 14px;
}

.btn_exit {
	background-image: linear-gradient(-180deg, #FF6666 0%, #FF0033 90%);
	border: 1px #FF0033 solid;
	font-size: 14px;
}

.publish_type {
	width: 15px;
	height: 15px;
}

.alertNotTaskInfo {
	color: #777777;
	font-size: 15px;
}

.myTaskList_font {
	font-size: 17px;
	padding: 5px 10px;
	background-image: linear-gradient(-180deg, #666666 0%, #444444 90%);
	border: 1px #333333 solid;
	box-shadow: 0 0 3px grey;
	color: white;
	font-weight: bold;
}

.selTeamArea {
	width: 400px;
	height: 600px;
	border: 1px white solid;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -400px;
	cursor: pointer;
	background-color: rgb(250, 250, 250);
	border-radius: 10px;
	overflow: auto;
}

.teamInfoAll {
	display: none;
}

.selTeam_titleMenu {
	color: #444444;
	font-weight: bold;
	height: 50px;
	margin: 0px;
	border-bottom: 1px #e6ebf1 solid;
	overflow: hidden;
}

.font_selTeam {
	font-size: 22px;
	float: left;
	line-height: 50px;
	margin-left: 8px;
}

.font_setEnter {
	font-size: 13px;
	float: right;
	line-height: 34px;
	padding: 8px;
	cursor: pointer;
	color: #CC0033;
	margin-right: 8px;
}

.selTeamArea .teamInfo_line {
	color: #444444;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 5px;
	border-bottom: 1px #e6ebf1 solid;
}

/* .selTeamArea .teamInfo_line:hover {
	background-image: linear-gradient(-180deg, rgb(240, 240, 240) 0%,
		rgb(250, 250, 250) 90%);
}
 */
.selTeamArea .teamGroup_line {
	color: #444444;
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
	margin: 0px;
	border-bottom: 1px #e6ebf1 solid;
	background-image: linear-gradient(-180deg, rgb(245, 245, 245) 0%,
		rgb(235, 235, 235) 90%);
}

.teamInfo_listMember {
	position: absolute;
	width: 400px;
	height: 600px;
	box-shadow: 0 0 3px grey;
	left: 50%;
	top: 120px;
	margin-left: -200px;
	background-color: rgb(240, 240, 240);
	display: none;
}

.teamInfo_line .memberItem_line {
	color: #444444;
	font-size: 13px;
	padding: 8px 0px 0px;
	margin-left: 20px;
}
.teamInfo_line .memberItem_line:not(:last-child) {
	padding: 8px 0px;
	border-bottom: 1px #e6ebf1 solid;
}

.teamMemberUnfoldShrink{
	float: right;
	font-weight:800;
	font-size: 13px;
	padding: 5px 8px 5px 185px;
	margin-top: -5px;
}

.teamInfo_memberList {
	display: none;
}


.teamInfo_line .memberItem_line:hover {
	background-image: linear-gradient(-180deg, rgb(240, 240, 240) 0%,
		rgb(250, 250, 250) 90%);
}