@charset "UTF-8";
/*#e6ebf1*/
/*#00a1d6*/

.main_topArea {
	width: 100%;
	height: 150px;
	border-bottom: 1px #e6ebf1 solid;
	background: url("/RecordsManagerSys/img/sys_logo.png") no-repeat center center;
}

.main_nav {
	box-shadow: 0px 0px 1px 1px #CCCCCC;
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	user-select: none;
}

.nav_item {
	margin: 0px 10px;
	padding: 0px 15px;
	height: 100%;
	line-height: 50px;
	font-size: 16px;
	float: left;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.nav_item:hover {
	color: #FF0033;
	transition: background-color 0.3s, color 0.3s;
}


.hint_line {
	height: 2px;
	background-color: #FF0033;
	position: absolute;
	margin-top: -1px;
}

.nav_item_sel {
	color: #FF0033;
}