@charset "UTF-8";
/*#e6ebf1*/
/*#00a1d6*/
body {
    background-color: rgb(250, 250, 250);
    user-select: none;
}
.teamGroup_listAll {
	width: 200px;
	float: left;
	user-select: none;
}

.groupName{
	height: 20px;
	line-height: 20px;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px #e6ebf1 solid;
	background-color: rgb(245,245,245);
	color: #333333;
	cursor: pointer;
}

.groupUnfoldShrink {
    float: right;
    width: 20px;
    height: 20px;
    background: url(/RecordsManagerSys/img/unfoldAndshrink.png) no-repeat;
    background-size: 200%;
    background-position: -22px 6px;
    cursor: pointer;
}

.teamGroup_item{
	border: 1px #e6ebf1 solid;
}

.li_teamName,.sel_li_teamName{
	padding: 5px 8px;
	font-size: 14px;
	color: #333333;
	cursor: pointer;
	border-bottom: 1px #e6ebf1 solid;
}

.sel_li_teamName{
	border-bottom: 1px #e6ebf1 solid;
	background-color: #0066CC;
	color: white;
}

.grayTit{
	height: 20px;
    line-height: 20px;
    padding: 5px;
    font-size: 14px;
    border-bottom: 1px #e6ebf1 solid;
    background-color: rgb(245,245,245);
    color: #333333;
    cursor: pointer;
}

.li_teamName:hover{
	background-color: #FFFFCC;
	color: #FF0033;
	cursor: pointer;
}

.teamGroup_list{
	/*display: none;*/
}

.ul_member_menu {
	width: 140px;
	background-color: rgb(250, 252, 250);
	-moz-box-shadow: 0 0 4px gray;
	box-shadow: 0 0 4px gray;
	position: absolute;
	/* left: 800px;
	top: 380px; */
	display: none;
	margin: 10px;
	z-index: 9999;
}

.ul_member_menu .li_item {
	font-size: 14px;
	color: gray;
	border-bottom: 1px #e6ebf1 solid;
	padding: 5px;
	cursor: pointer;
}

.ul_member_menu .li_item:hover {
	color: #CC0033;
}



.teamDetailedInfo{
	width: 780px;
	float: right;
}

.team_member_tit{
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.team_member_titFont{
	margin-left: 25px; 
	height: 100%;
	float: left;
}
.tea_team_tool{
    width: 120px;
	height: 32px;
	margin: 8px 15px 8px 0px; 
	float: right;
}
.selTeamName{
	color: #333333;
	font-size: 38px;
	font-weight: bold;
	padding: 15px;
	margin: 0px;
	border-bottom: 1px #e6ebf1 solid;
}
.team_memberList{
	margin: 0px 25px; 	

}
.header_team_memberItem,.team_memberItem{
	height: 25px;
	line-height: 25px;
	padding: 8px;
	border-top: 1px #e6ebf1 solid;
	cursor: pointer;
}
.header_team_memberItem{
	border: 0;
}
.header_item_font_interval,.item_font_interval{
	color: #333333;
	font-size: 14px;
	display: inline-block;
	width: 160px;
	text-align: center;
	cursor: pointer;
	
}
.header_item_font_interval{
	font-weight: bold;
}

.item_font_interval.m_c_green{
	color: #339933;
}

.item_font_interval 

.sle_team_memberItem{
	background-color: #FFFFCC;
}

.sle_team_memberItem .item_font_interval{
	color: #FF0033;
}

.team_memberItem:hover{
	background-color: rgb(250,250,250);
}

.add_student {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 15px;
	border-radius: 3px;
	border: 1px green solid;
	background-image: linear-gradient(-180deg, #00FF7F 0%, #28a745 90%);
	background-color: #28a745;
	outline: none;
	cursor: pointer;
}

.add_student:hover {
	background-image: linear-gradient(-180deg, #66CC00 0%, #28a745 90%);
}

.teamBiz_menuImg{
	vertical-align: middle;
	height: 35px;
}
.teamBiz_menu_item{
	padding: 13px;
	float: left;
	cursor: pointer;
}

.teamBiz_menu_item label{
	cursor: pointer;
	font-size: 14px;	
}

.teamBiz_menu_item:hover{
	color:#FF0033;
}

.add_studentForm {
	width: 780px;
	float: right;
	display: none;
}

.addStu_formLine {
	height: 35px;
	line-height: 35px;
	margin: 15px;
}

.addStu_operation {
	height: 35px;
	line-height: 35px;
	float: right;
}

.add_formText {
	height: 28px;
	width: 200px;
	padding: 0px 5px;
	border: 0px;
	box-shadow: 0 0 4px grey;
	border-radius: 5px;
}

.txt_id_prefix {
	width: 50px;
}

.txt_addname {
	width: 80px;
}

.btn_goon_add, .btn_exit_add {
	width: 75px;
	height: 30px;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	/* outline: none; */
	cursor: pointer;
}

.btn_goon_add {
	background-image: linear-gradient(-180deg, #00FF7F 0%, #28a745 90%);
	border: 1px #28a745 solid;
}

.btn_exit_add {
	background-image: linear-gradient(-180deg, #FF6666 0%, #FF0033 90%);
	border: 1px #FF0033 solid;
}

.add_studentForm {
	width: 780px;
	float: right;
	display: none;
}

.addStu_formLine {
	height: 35px;
	line-height: 35px;
	margin: 15px;
}

.addStu_operation {
	height: 35px;
	line-height: 35px;
	float: right;
}

.add_formText {
	height: 28px;
	width: 200px;
	padding: 0px 5px;
	border: 0px;
	box-shadow: 0 0 4px grey;
	border-radius: 5px;
}

.txt_id_prefix {
	width: 50px;
}

.txt_addname {
	width: 80px;
}

.btn_goon_add, .btn_exit_add {
	width: 75px;
	height: 30px;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	/* outline: none; */
	cursor: pointer;
}

.btn_goon_add {
	background-image: linear-gradient(-180deg, #00FF7F 0%, #28a745 90%);
	border: 1px #28a745 solid;
}

.btn_exit_add {
	background-image: linear-gradient(-180deg, #FF6666 0%, #FF0033 90%);
	border: 1px #FF0033 solid;
}